.light-cyan-af {
  color: #94BDCF;
}

.light-cyan-af-bg {
  background-color: #94BDCF;
}

.cyan-af {
  color: #027D8F;
}

.cyan-af-bg {
  background-color: #027D8F;
}

.pink-af {
  color: #D899C4;
}

.pink-af-bg {
  background-color: #D899C4;
}

.dark-blue-af {
  color: #262B62;
}

.dark-blue-af-bg {
  background-color: #262B62;
}

.gray-af {
  color: #EAEAEA;
}

.gray-af-bg {
  background-color: #EAEAEA;
}

.light-blue-af {
  color: #00ADE7;
}

.light-blue-af-bg {
  background-color: #00ADE7;
}

.dark-purple-af {
  color: #3a459c;
}

.dark-purple-af-bg {
  background-color: #3a459c;
}

@font-face {
  font-family: "ITC";
  src: url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype");
}
@font-face {
  font-family: "ITC_XL";
  src: url("../fonts/ITCAvantGardeStd-XLt.ttf") format("truetype");
}
@font-face {
  font-family: "Qualy Bold";
  src: url("../fonts/QualyBold.ttf") format("truetype");
}
@font-face {
  font-family: "Quick Signature";
  src: url("../fonts/QuickSignature.otf") format("opentype");
}
@font-face {
  font-family: "Parisienne Regular";
  src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kristi Regular";
  src: url("../fonts/Kristi-Regular.ttf") format("truetype");
}
.avant-garde-bk {
  font-family: "ITC";
}

.avant-garde-xl {
  font-family: "ITC_XL";
}

.qualy-bold {
  font-family: "Qualy Bold";
}

.parisienne-regular {
  font-family: "Parisienne Regular";
}

.kristi-regular {
  font-family: "Kristi Regular";
}

@media only screen and (min-width: 992px) {
  .font-lg-20 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .font-lg-70 {
    font-size: 70px;
  }
}

@media only screen and (min-width: 992px) {
  .font-lg-60 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .font-intro-cards {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .font-intro-cards {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .banner-titles, .portrait-titles, .wedding-titles {
    font-size: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-titles, .portrait-titles, .wedding-titles {
    font-size: 40px;
  }
}

.wedding-titles {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wedding-titles {
    min-height: 75px;
  }
}

.portrait-titles {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portrait-titles {
    min-height: 115px;
  }
}

.logo-large {
  width: 160px;
}

.logo-small {
  width: 58px;
}

.navbar .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: rgba(0, 0, 0, 0.5);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  font-size: 18px;
  height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
.navbar-nav .dropdown .dropdown-menu a:active {
  background-image: none;
  background-color: none;
}
.navbar-nav .nav-item.dropdown.show a {
  color: black;
}

@media only screen and (min-width: 992px) {
  .navbar {
    background: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 100;
  }
  .navbar .navbar-brand {
    padding-bottom: 20px;
  }
  .navbar .navbar-nav .nav-item.dropdown.show a {
    color: white;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    background: none;
    border: none;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu a {
    outline: none;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu a:hover {
    background: none;
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar .navbar-nav .nav-link {
    font-size: 23px;
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
  }
  .navbar .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar .navbar-nav .nav-link.active {
    color: #fff;
  }
}
#carouselHome .carousel-item {
  background-color: #000000;
}
#carouselHome .carousel-item img {
  opacity: 0.6;
}
#carouselHome .carousel-item img {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  #carouselHome .carousel-item img {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }
}

#carouselWedding .carousel-item img {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  #carouselWedding .carousel-item img {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }
}

#carouselEstudioProduct .carousel-item,
#carouselComercialProduct .carousel-item,
#carouselGastroProduct .carousel-item {
  background-color: #000000;
}
#carouselEstudioProduct .carousel-item img,
#carouselComercialProduct .carousel-item img,
#carouselGastroProduct .carousel-item img {
  opacity: 0.6;
}
#carouselEstudioProduct .carousel-item img,
#carouselComercialProduct .carousel-item img,
#carouselGastroProduct .carousel-item img {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
@media only screen and (min-width: 992px) {
  #carouselEstudioProduct .carousel-item img,
#carouselComercialProduct .carousel-item img,
#carouselGastroProduct .carousel-item img {
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }
}
#carouselEstudioProduct h2,
#carouselComercialProduct h2,
#carouselGastroProduct h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  #carouselEstudioProduct h2,
#carouselComercialProduct h2,
#carouselGastroProduct h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#carouselEstudioProduct p,
#carouselComercialProduct p,
#carouselGastroProduct p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  #carouselEstudioProduct p,
#carouselComercialProduct p,
#carouselGastroProduct p {
    display: none;
  }
}

.img-description {
  display: none;
}
@media only screen and (max-width: 767px) {
  .img-description {
    display: block;
  }
}

#carouselPortrait .carousel-inner {
  max-height: 90vh;
}
@media only screen and (max-width: 767px) {
  #carouselPortrait .carousel-inner {
    max-height: 50vh;
  }
}

.custom-form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.custom-form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.1rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.custom-form-field::placeholder {
  color: transparent;
}
.custom-form-field:placeholder-shown ~ .custom-form-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.custom-form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}

.custom-form-field:focus {
  padding-bottom: 6px;
  border-bottom: 3px linear-gradient(to right, #fff, #fff);
}
.custom-form-field:focus ~ .custom-form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}
@media only screen and (min-width: 992px) {
  .custom-form-field:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #fff, #fff);
    border-image-slice: 1;
  }
}

/* reset input */
.custom-form-field {
  /* Change the white to any color */
}
.custom-form-field:required, .custom-form-field:invalid {
  box-shadow: none;
}
.custom-form-field:-webkit-autofill, .custom-form-field:-webkit-autofill:hover, .custom-form-field:-webkit-autofill:focus, .custom-form-field:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #3a459c inset !important;
  -webkit-text-fill-color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.custom-btn {
  background-color: #262B62;
  color: #fff;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.4s;
}
.custom-btn i {
  padding-top: 3.4px;
}
.custom-btn:hover {
  background-color: #fff;
  color: #262B62;
}

.featured-img {
  max-height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.author-img {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.img-row-3 img {
  width: 100%;
  height: auto;
}

.author {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.tag-container, .comment-tag, .tag {
  background-color: #9b9b9b;
  border-radius: 6px;
  padding: 3px 8px 3px 8px;
}
.tag-container i, .comment-tag i, .tag i {
  padding-right: 6px;
}

.tag {
  color: #EAEAEA;
  cursor: pointer;
}

.comment-tag a {
  text-decoration: none;
  color: #EAEAEA;
}

.comment, .reply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0 8px 0;
  max-width: 800px;
}
.comment > p, .reply > p {
  background-color: #9b9b9b;
  border-radius: 8px;
  padding: 15px;
  margin: 0 0 15px 80px;
  color: #EAEAEA;
}
.comment button, .reply button {
  margin-left: auto;
}

.reply {
  padding-left: 80px;
}

.comment-button {
  max-width: 300px;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.center-h {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fer-portrait {
  border-radius: 50px;
}

#social-icons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (min-width: 992px) {
  #social-icons {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
}
#social-icons a i {
  color: #212529;
}
#social-icons .fa-facebook-square {
  transition-property: color;
  transition-duration: 0.3s;
}
#social-icons .fa-facebook-square:hover {
  color: #007bff;
}
#social-icons .fa-instagram {
  transition-property: color;
  transition-duration: 0.3s;
}
#social-icons .fa-instagram:hover {
  color: #C13584;
}
#social-icons .fa-youtube {
  transition-property: color;
  transition-duration: 0.3s;
}
#social-icons .fa-youtube:hover {
  color: #dc3545;
}
#social-icons div a {
  transition-property: all;
  transition-duration: 0.4s;
}

#banners-home div {
  background-color: #000000;
  transition: all 0.2s ease-in-out;
}
#banners-home div img {
  opacity: 0.7;
}
#banners-home div:hover {
  background-color: #000000;
}
#banners-home div:hover img {
  opacity: 0.6;
}

.main-cover {
  background-color: #000000;
}
.main-cover img {
  opacity: 0.8;
}
.main-cover img {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main-cover img {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }
}

@media only screen and (max-width: 767px) {
  #about-image {
    display: none;
  }
}

#about-image-mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  #about-image-mobile {
    display: block;
  }
}

.image-screen-cover {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.about-quotes-container {
  width: 100%;
  max-width: 85%;
}

@media only screen and (max-width: 767px) {
  .quotes-card .row .rounded {
    border-radius: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .quotes-card {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #name-2-container {
    margin-right: 0;
    margin-left: 0;
  }
}

.telegram-icon-container {
  height: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.telegram-icon {
  width: 40px;
  height: 40px;
}

.telegram-icon-mobile {
  width: 50px;
  height: 50px;
}

.container-carousel {
  width: 100%;
  height: 100vh;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 380px;
  height: 618px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 5px 0px;
}

.coming-soon {
  height: 40vh;
}
.coming-soon h3 {
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  .coming-soon {
    flex-grow: 1;
  }
  .coming-soon h3 {
    font-size: 28px;
  }
}

.whatsapp-icon-mobile {
  width: 50px;
  height: 50px;
}

.quote-carousel {
  min-height: 175px;
}

@media only screen and (max-width: 767px) {
  .quote-carousel {
    min-height: 350px;
  }
}

/*# sourceMappingURL=styles.css.map */
