#searchform {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchform > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 20px 0 20px;
}

#searchsubmit {
    @extend .button-template-1;
}

#s {
    @extend .input-template-1;

    margin-right: 20px;
}