.featured-img {
    max-height: 60vh;
    width: 100%;
    @include backgroundCover;

}

.author {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        @include backgroundCover;
    }
}

.tag-container {
    background-color: $gray-input;
    border-radius: 6px;
    padding: 3px 8px 3px 8px;
    i {
        padding-right: 6px;
    }
}

.tag {
    @extend .tag-container;
    color: $gray-af;
    cursor: pointer;
    a {
        text-decoration: none;
        color: $gray-af;
    }
}

.button-template-1 {
    @extend .center;
    @extend .avant-garde-bk;
    background-color: $gray-af;
    color: $dark-gray-af;
    border: 1px solid $dark-gray-af;
    transition: background-color .2s ease-in-out;
    border-radius: 6px;
    padding: 6px 16px 6px 16px;
    height: 40px;

    &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: $dark-gray-af;
        color: $gray-af;
    }
}

.input-template-1 {
    background-color: #f6f6f6;
    color: $dark-gray-af;
    border: 1px solid $dark-gray-af;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    max-width: 400px;
    padding: 0 10px 0 10px;

    &:focus {
        outline: none;
        border: 1px solid $dark-gray-af;
        box-shadow: 0 0 2px $dark-gray-af;
    }
}