.pagination-style {
    border: 1px solid $dark-blue-af; 
    padding: 6px 16px 6px 16px;
    margin: 6px;
    border-radius: 6px;
    transition: background-color .2s ease-in-out;
    
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.pagination-number {
    @extend .pagination-style;
    color: $dark-blue-af;

    &:hover {
        color: $gray-af;
        background-color: $dark-blue-af;
    }
}

.pagination-number-active {
    @extend .pagination-style;
    color: $gray-af;
    background-color: $dark-blue-af;

    &:hover {
        color: $dark-blue-af;
        background-color: $gray-af;
    }
}

.pagination {
    width: 100%;
    margin: 0 10px 0 10px;
    @extend .center-h;
    
    .nav-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        span.page-numbers {
            &:not(.dots) {
                @extend .pagination-number-active;
            }
        }
        .page-numbers {
            &:not(.dots):not(span) {
                @extend .pagination-number;
            }           
        }
    }
    
}

