#carouselHome{
    .carousel-item{
        @include opacity(0.6);

        img{
            @include imageScreenCover(50vh);
        
            @include responsiveLarge(){
                @include imageScreenCover(100vh);
            }
        }
    }
}

#carouselWedding{
    .carousel-item{
        img{
            @include imageScreenCover(50vh);
            
            @include responsiveLarge(){
                @include imageScreenCover(100vh);
            }
        }
    }
}

#carouselEstudioProduct, 
#carouselComercialProduct, 
#carouselGastroProduct{
    
    .carousel-item{
        @include opacity(0.6);
        img{
            @include imageScreenCover(50vh);
            
            @include responsiveLarge(){
                @include imageScreenCover(100vh);
            }
        }
    }
    
    h2{
        @include position-absolute(45%, 50%);
        @include responsiveMobile(){
            @include position-absolute(50%, 50%);
        }
    }
    p{
        @include position-absolute(55%, 50%);
        @include responsiveMobile(){
            display: none;
        }
    }
}

.img-description{
    display: none;
    @include responsiveMobile(){
        display: block;
    }
}

#carouselPortrait{
    .carousel-inner{
        max-height: 90vh;
        @include responsiveMobile(){
            max-height: 50vh;
        }
    }
}

// #carouselQuotes{
//     .carousel-indicators li {
//         border: none;
//         background: #ccc;
//     }
    
//     .carousel-indicators li.active {
//         background: $dark-blue-af;
//     }
// }