@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin opacity($value){
    background-color: #000000;
    img{
        opacity: $value;
    }
}
@mixin front{
    height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}