//ITC Avant Garde Std Bk Regular
.avant-garde-bk{
    font-family:'ITC';
    color: #000000;
}
//ITC Avant Garde Std XL
.avant-garde-xl{
    font-family:'ITC_XL';
    color: #000000;
}
//Qualy bold
.qualy-bold{
    font-family:'Qualy Bold';
    color: #000000;
}