//ITC Avant Garde Std Bk Regular
.avant-garde-bk{
    font-family:'ITC';
}
//ITC Avant Garde Std XL
.avant-garde-xl{
    font-family:'ITC_XL';
}
//Qualy bold
.qualy-bold{
    font-family:'Qualy Bold';
}
//Quick Signature
.quick-signature{
    font-family:'Quick Signature';
}