//Common
@import '_responsive_mixin';
@import '_general_mixins';
@import '_colors';
@import '_fonts';
@import '_typography';

@import '_navbar';
@import '_carousel';

.center{
    @include flexCenter(column);
}

.center-h{
    @include flexCenter(row);
}

.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fer-portrait{
    border-radius: 50px;
}

#social-icons{
    @include flexCenter(row);

    @include responsiveLarge(){
        @include flexCenter(column);
    }
    a{
        i{
            color: rgb(33, 37, 41);
        }
    }
    .fa-facebook-square{
        &:hover{
            color: #007bff;
        }
    }
    .fa-instagram{
        &:hover{
            color: #C13584;
        }
    }
    .fa-youtube{
        &:hover{
            color: #dc3545;
        }
    }
}

#banners-home{
    div{
        @include opacity(0.7);
        transition: all .2s ease-in-out;

        &:hover{
            @include opacity(0.6);

        }
    }
}

#about-cover{
    @include opacity(0.8);
}

.font-lg-20{
    @include responsiveLarge(){
        font-size: 20px;
    }
}

.font-lg-70{
    @include responsiveLarge(){
        font-size: 70px;
    }
}

.font-lg-60{
    @include responsiveLarge(){
        font-size: 60px;
    }
}

.image-screen-cover{
    @include imageScreenCover();
}

.about-quotes-container{
    width: 100%;
    max-width: 85%;
}

.quotes-card{
    .row{
        .rounded{
            @include responsiveMobile{
                border-radius: 0 !important;
            }
        }
    }
    @include responsiveMobile{
        max-width: 100%;
    }
}

.wedding-titles{
    @include flexCenter(row);
    @include responsive(768px, 1199px){
        min-height: 75px;
    }
}
.portrait-titles{
    @include flexCenter(row);
    @include responsive(768px, 991px){
        min-height: 115px;
    }
}
.product-titles{
    @include flexCenter(row);
    @include responsive(768px, 991px){
        min-height: 115px;
    }
}