//Common
@import '_responsive_mixin';
@import '_general_mixins';
@import '_colors';
@import '_fonts';
@import '_typography';

@import '_navbar';
@import '_carousel';
@import '_input';

.center{
    @include flexCenter(column);
}

.center-h{
    @include flexCenter(row);
}

.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fer-portrait{
    border-radius: 50px;
}

#social-icons{
    @include flexCenter(row);

    @include responsiveLarge(){
        @include flexCenter(column);
    }
    a{
        i{
            color: rgb(33, 37, 41);
        }
    }
    .fa-facebook-square{
        transition-property: color;
        transition-duration: 0.3s;
        &:hover{
            color: #007bff;
        }
    }
    .fa-instagram{
        transition-property: color;
        transition-duration: 0.3s;
        &:hover{
            color: #C13584;
        }
    }
    .fa-youtube{
        transition-property: color;
        transition-duration: 0.3s;
        &:hover{
            color: #dc3545;
        }
    }
    // Learn more button
    div{
        a{
            transition-property: all;
            transition-duration: 0.4s;
        }
    }
}

#banners-home{
    div{
        @include opacity(0.7);
        transition: all .2s ease-in-out;

        &:hover{
            @include opacity(0.6);

        }
    }
}

#about-cover, 
#wedding-portfolio-cover, 
#portrait-portfolio-cover,
#product-portfolio-cover{
    @include opacity(0.8);

    img{
        @include imageScreenCover(100vh);
        width: 100%;
    }
    
}

.image-screen-cover{
    @include imageScreenCover(100vh);
}

.about-quotes-container{
    width: 100%;
    max-width: 85%;
}

.quotes-card{
    .row{
        .rounded{
            @include responsiveMobile{
                border-radius: 0 !important;
            }
        }
    }
    @include responsiveMobile{
        max-width: 100%;
    }
}

#name-2-container{
    @include responsiveMobile{
        margin-right: 0;
        margin-left: 0;
    }
}

.telegram-icon-container{
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

.telegram-icon{
    width: 40px;
    height: 40px;
}

.telegram-icon-mobile{
    width: 50px;
    height: 50px;
}
.container-carousel{
    width: 100%;
    height: 100vh;
    background-color:#EAEAEA ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.box{
    width: 380px;
    height: 618px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 5px 0px;
}
.coming-soon{
    height: 40vh;
    h3{
        font-size: 40px;
    }
    @include responsiveMobile{
        flex-grow: 1;
        h3{
            font-size: 28px;
        }
    }
}

.whatsapp-icon-mobile{
    width: 50px;
    height: 50px;
  }
.quote-carousel{
    min-height:175px ;
}
  
@media only screen and (max-width: 767px) {
    .quote-carousel{
      min-height:350px ;
    }
}