//Common
@import '_responsive_mixin';
@import '_general_mixins';
@import '_colors';
@import '_fonts';
@import '_typography';

@import '_navbar';
@import '_carousel';


.container{
    @include responsiveExtraLarge(){
        min-width: 85vw;
    }
}


.center{
    @include flexCenter(column);
}

#fer-portrait{
    border-radius: 50px;
}

a, a:visited {
    color: inherit;
}

#social-icons{
    @include flexCenter(row);

    @include responsiveLarge(){
        @include flexCenter(column);
    }
}

.yottie-widget-header{
    background-color: #ffffff;
}

#about-cover{
    @include opacity(0.8);
}

.font-lg-20{
    @include responsiveLarge(){
        font-size: 20px;
    }
}

.font-lg-90{
    @include responsiveLarge(){
        font-size: 90px;
    }
}

.font-lg-60{
    @include responsiveLarge(){
        font-size: 60px;
    }
}

.image-screen-cover{
    @include imageScreenCover();
}

.prueba{
    max-height: 1000vh !important;;
    width: auto;
}
