<nav class="navbar navbar-expand-lg py-3 px-5 w-100">

    <a class="navbar-brand d-none d-lg-block" href="/"><img src="img/logo-white.png" class="logo-large" alt=""></a>
    <a class="navbar-brand d-lg-none" href="/"><img src="img/logo-dark.png" class="logo-small" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 justify-content-between">
            <li>
                <a class="nav-link avant-garde-bk {{#if active.home}}active{{/if}} px-3" href="/">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link avant-garde-bk {{#if active.about}}active{{/if}} px-3" href="/about">SOBRE MI</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link avant-garde-bk {{#if active.portfolio}}active{{/if}} px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PORTFOLIO
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item avant-garde-bk" href="/wedding-portfolio">Wedding Portfolio</a>
                    <a class="dropdown-item avant-garde-bk" href="/portrait-portfolio">Portrait Portfolio</a>
                    <a class="dropdown-item avant-garde-bk" href="/product-portfolio">Product Portfolio</a>
                </div>
            </li>

            <li>
                <a class="nav-link avant-garde-bk {{#if active.blog}}active{{/if}} px-3" href="/blog">BLOG</a>
            </li>
            <li>
                <a class="nav-link avant-garde-bk {{#if active.tienda}}active{{/if}} px-3" href="/tienda">TIENDA</a>
            </li>
        </ul>
    </div>
</nav>