.pagination-style {
    @extend .button-template-1;
    margin: 6px;
    
}

.pagination-number {
    @extend .pagination-style;
    color: $dark-gray-af;

    &:hover {
        color: $gray-af;
        background-color: $dark-gray-af;
    }
}

.pagination-number-active {
    @extend .pagination-style;
    color: $gray-af;
    background-color: $dark-gray-af;

    &:hover {
        color: $dark-gray-af;
        background-color: $gray-af;
    }
}

.pagination {
    width: 100%;
    margin: 0 10px 0 10px;
    @extend .center-h;
    
    .nav-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .page-numbers {
            &:not(.dots):not(span) {
                @extend .pagination-number;
            }           
        }
    }
    
}

